# Node.js
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/

# Python
backend/venv/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
